.bao-timkhoahoc{
	background: #FFF;
	padding: 25px 30px;
	box-sizing: border-box;
	margin-top: 15px;
	
}  
.left-menu-khoahoc{
	margin-top: 15px;
}
.bao-list-khoahoc{
	padding-left: 15px;
}

.bao-list-khoahoc .tieude-cap{
	margin-top: 15px;	
}
.bao-list-khoahoc .item-khoahoc > a > img{
	width: 100%;
	height: 175px;
}
.item-khoahoc{
	margin-top: 15px;
    background: #fff;
	width: 265px;
    margin-top: 30px;
}
.bao-list-khoahoc .dangkyhoc{
	padding: 7px 10px;
}
.bao-list-khoahoc .songuoihoc{
	    background-position-x: 0px;

}
.btn_dangkyhoc{
    margin-top: 4px;
}